:root {
  --background-color: rgb(0,48,73);
  --text-color: rgb(253,240,213);
  --border-color: rgb(255,255,255, 0.1);
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  overflow: hidden;
  background-color: var(--background-color);
  display: grid;
  place-items: center;
}

nav {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  position: absolute;
  top: 0%;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

nav a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: var(--text-color);
}

nav > .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-logo-section,
#nav-link-section {
  flex-basis: calc(100% /3);
}

#nav-logo-section {
  justify-content: flex-start;
}

#nav-logo-section > a > i {
  font-size: 2.5rem;
}

#nav-link-section {
  justify-content: flex-start;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-social-section {
  gap: 3rem;
}

#nav-social-section > a > i {
  font-size: 1.5rem;
}

#wrapper {
  aspect-ratio: 1.618;
  width: 90vmin;
  position: relative;
  background-color: var(--text-color);
}

#wrapper > .bar {
  position: absolute;
  transition: left, right, height, width, border-radius;
  transition-duration: 750ms;
  transition-timing-function: ease-in-out;
}

#data-science {
  background-color: rgb(193,18,31); 
  height: 43%;
  width: 90%;
  top: 5%;
  left: 5%;
  animation: 1s ease-out -0.2s 1 extendRight;
}

#data-science:hover {
  background-color: rgb(193,18,31); 
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
}

#data-science h1 {
  color: rgb(193,18,31, 0);
  top: 40%;
  right: 20%;
  position: absolute;

}

#data-science a {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

#data-science:hover ~ #fake-so {
  height: 0%;
  width: 0%;
}

#data-science:hover h1 {
  animation: 1s linear 0s 1 textAppear1;
  color: var(--text-color);
}


#fake-so {
  background-color: rgb(120,155,188);
  width: 90%;
  height: 43%;
  bottom: 5%;
  right: 5%;
  animation: 1s ease-out 0s 1 extendLeft;
}

#fake-so h1 {
  color: rgb(120,155,188, 0);
  top: 40%;
  right: 23%;
  position: absolute;
}

#fake-so a {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

#fake-so:hover {
  background-color: rgb(120,155,188);
  width: 90%;
  height: 90%;
  bottom: 5%;
  right: 5%;
}

#fake-so:hover + #data-science {
  height: 0%;
  width: 0%;
}

#fake-so:hover h1 {
  animation: 1s linear 0s 1 textAppear2;
  color: var(--text-color);
}

@keyframes extendRight {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes extendLeft {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes textAppear1 {
  0% {
    color: rgb(193,18,31);
  }
  100% {
    color: rgb(253,240,213);
  }
}

@keyframes textAppear2 {
  0% {
    color: rgb(120,155,188);
  }
  100% {
    color: rgb(253,240,213);
  }
}

#aboutWrapper {
  display: flex;
  flex-direction: row;
  justify-content:space-evenly
}

img {
  height: 50%;
  width: 25%;
  border-radius: 10px;
}

pre {
  font-family: "Rubik", sans-serif;
  color: var(--text-color);
}

/*#wrapper[data-roundness="1"] > .bar {
  border-radius: 0%;
}

#wrapper[data-configuration="1"] > .bar:nth-child(1) {
  height: 43%;
  width: 90%;
  top: 5%;
  left: 5%
}

#wrapper[data-configuration="1"] > .bar:nth-child(2) {
  width: 90%;
  height: 43%;
  bottom: 5%;
  right: 5%;
}
#wrapper[data-roundness="2"] > .bar {
  border-radius: 50%;
}

#wrapper[data-configuration="2"] > .bar:nth-child(1) {
  height: 55%;
  width: 35%;
  top: 5%;
  left: 1%;
}

#wrapper[data-configuration="2"] > .bar:nth-child(2) {
  height: 55%;
  width: 35%;
  bottom: 5%;
  right: 1%;
}*/



  


